{% extends "main/base.html" %}

{% block content %}

<h1><span class="text-muted">About </span>{{ SETTINGS.PROJECT_NAME }}</h1>
<h2><b>Purpose: </b></h2>
<p>
  This portal serves to facilitate the development of sustainable partnerships in service-learning between faculty, staff, students, and community partners. The portal does three things:
  <br><left><li>Allows community partners to share meaningful projects that will contribute to social and systemic change in the community.</li></left>
  <br><left><li>Connects community partners to faculty, staff, and students through service-learning courses.</li></left>
  <br><left><li>Provides faculty and staff with an opportunity to develop curricula that will match the need of community partners.</li></left>
</p>
<br>
<hr>
<h2><b>Features: </b></h2>
<p>
  As a Community partners, you can go onto our website and submit a project or service request that directly addresses a need for your organization. As a Faculty Member, you can see these requests, and connect your students to this Community partners through a service-learning course partnership. Additionally, the site administrator will monitor and facilitate these partnerships.
</p>
<br>
<hr>
<h2><b>Creators: </b></h2>
<p>
  This website was created by Purdue students in the Information Management Systems (IMS) sub-team of Engineering Projects in Community Service (EPICS) in partnership with the Office of Engagement and the United Way. For questions regarding the portal, please contact: Lindsey Payne, paynel@purdue.edu. For more information on EPICS and IMS, please visit:
</p>
<a href="http://epics.ecn.purdue.edu/ims/">epics.ecn.purdue.edu/ims/</a> 
<br>
<hr> 	

{% endblock content %}
