{% extends "main/base.html" %}
{% load template_tags %}

{% block content %}
{% if show_dialog %}
<div class="confirm alert alert-dismissible alert-info">
  <i type="button" class="close fa fa-close" data-dismiss="alert"></i>
  <h4> This page shows all faculty proposals that you have created as well as any active community job proposals.  You need to create a proposal before you can see them in the box on the right.  Click the red 'Create a Faculty Proposal' button below to create an faculty proposal.</h4>
</div>
{% endif %}

<div class="jumbotron">

  <center>
<h3>{{ request.user }} <large></h3>  </center>

</div>

<div class="form-group">

  <a href="{% url 'user_settings' %}"><button class="btn btn-info"> <i class="fa fa-cog"></i> User Settings</button></a>
  <!--<a href = "{% url 'organization_create' %}" class="btn btn-danger"> <i class="fa fa-plus"></i> Create a Faculty Proposal</a>-->

</div>

<div class="row">
  <div class="col-sm-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Existing Community Job Proposals
    </div>
    <div class="panel-body" style="background-color:#ececec";>
      <ul class="list-group">
        {% for community_job in Job %}
          {% if community_job.active %}
          <div class="well well-sm information-body">
              <b>Organization name:</b> {{ community_job.name }} <br>
              <b>Description of job request:</b> {{ community_job.description }} <br>
              <b>Contact information:</b> <a href="mailto:"{{ community_job.contact_information }}>{{ community_job.contact_information }}</a><br>
              <b>Deliverables:</b> {{ community_job.deliverable }} <br>
              <b>Student skills:</b> {{ community_job.skill_required }} <br>
              <b>Required time:</b> {{ community_job.hours_day }} <br>
              <b>Categories that project belongs to:</b>
                  {% if community_job.activism %}
                      <br>Activism & advocacy
                  {% endif %}
                  {% if community_job.arts %}
                      <br>Arts & culture
                  {% endif %}
                  {% if community_job.civil %}
                      <br>Civil rights & human rights
                  {% endif %}
                  {% if community_job.school %}
                      <br>School readiness in Pre-K to 12 education
                  {% endif %}
                  {% if community_job.crisis %}
                      <br>Crisis & conflict resolution
                  {% endif %}
                  {% if community_job.criminal %}
                      <br>Criminal justice & legal representation
                  {% endif %}
                  {% if community_job.disaster %}
                      <br>Disaster preparedness
                  {% endif %}
                  {% if community_job.economic %}
                      <br>Economic development
                  {% endif %}
                  {% if community_job.entrepreneurship %}
                      <br>Entrepreneurship
                  {% endif %}
                  {% if community_job.environment %}
                      <br>Environment & sustainability
                  {% endif %}
                  {% if community_job.food %}
                      <br>Food security
                  {% endif %}
                  {% if community_job.housing %}
                      <br>Housing & homelessness
                  {% endif %}
                  {% if community_job.immigrants %}
                      <br>Immigrants & migrant worker rights
                  {% endif %}
                  {% if community_job.individual %}
                      <br>Individual & community health
                  {% endif %}
                  {% if community_job.mental %}
                      <br>Menta<br>l health
                  {% endif %}
                  {% if community_job.poverty %}
                      <br>Poverty alleviation
                  {% endif %}
                  {% if community_job.substance %}
                      <br>Substance abuse & recovery
                  {% endif %}
                  {% if community_job.STEM %}
                      <br>STEM education
                  {% endif %}
                  {% if community_job.transportation %}
                      <br>Transportation
                  {% endif %}
                  {% if community_job.veterans %}
                      <br>Veterans
                  {% endif %}
                  {% if community_job.voting %}
                      <br>Voting>
                  {% endif %}
                  {% if community_job.other %}
                      <br>{{community_job.other}}
                  {% endif %}

                   <br>
                   <br>
              {% if community_job.approve %}
              <button type="button" id ="Approve_job{{community_job.name}}" name="{{community_job.name}}" value= "{{community_job.id}}" class="btn btn-primary" disabled>Approved</button>
              {% else %}
              <button type="button" id ="Approve_job{{community_job.name}}" name="{{community_job.name}}" value= "{{community_job.id}}" class="btn btn-primary" onClick="decide_job_approve(this.id, this.name, this.value)">Approve</button>
              {% endif %}

              {% if community_job.deny %}
              <button type="button" id ="Deny_job{{community_job.name}}" name="{{community_job.name}}" value= "{{community_job.id}}" class="btn btn-primary" disabled>Denied</button>
              {% else %}
              <button type="button" id ="Deny_job{{community_job.name}}" name="{{community_job.name}}" value= "{{community_job.id}}" class="btn btn-primary" onClick="decide_job_approve(this.id, this.name, this.value)">Deny</button>
              {% endif %}
 <!--          {% if community_job.approve %}
              <button type="button" id ="Approved" class="btn btn-primary" >Approved</button>
              {% else %}
              <button type="button" id ="NotApproved" class="btn btn-primary" >Not Approved</button>
              {% endif %} -->
              <script type="text/javascript">
              function decide_job_approve(id, job_name, community_job_id){
                  var url = "{% url 'community_job_approve_update' %}";
                  $.ajax({
                      url: url,
                      data: {
                         'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                         'status': id,
                         'community_job_id': community_job_id,
                      },
                      dataType: 'json',
                      complete: function (response) {
                        if(id=="Approve_job"+job_name){

                          alert("Approved this proposal");
                          $("#Approve_job{{job_name}}").context.activeElement.disabled = true;
                          $('#Deny_job{{job_name}}').context.activeElement.disabled = false;
                          location.reload()
                          // $('#Deny_job{{job_name}}').context.activeElement.innerText = "Deny";
                          // $("this").context.activeElement.innerText = "Approved"
                        }else{

                          alert("Denied this proposal");
                          $('#Approve_job{{job_name}}').context.activeElement.disabled = false;
                          $('#Deny_job{{job_name}}').context.activeElement.disabled = true;
                          location.reload()
                          // $('#Deny_job{{job_name}}').context.activeElement.innerText = "Denied";
                          // $("#Approve_job{{job_name}}").context.activeElement.innerText = "Approve"
                        }
                      },
                      error: function () {
                        $('#status').html('Bummer: there was an error!');
                      },

                  });
                return false;

            }
            </script>
          </div>
          {% endif %}
        {% endfor %}

      </ul>
    </div>
  </div>
  </div>
 
 
  <div class="col-sm-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Existing Faculty Proposals
      </div>
      <div class="panel-body" style="background-color:#ececec";>
        <ul class="list-group">
        {% for fac_proposal in organizations %}
          {% if fac_proposal.active %}
          <div class="well well-sm information-body">
              <b>Course Name:</b> {{ fac_proposal.name }} <br>
              <b>Course Title:</b> {{ fac_proposal.coursetitle }} <br>
              <b>Faculty/Staff Name:</b> {{ fac_proposal.facultystaffname }} <br>
              <b>Website:</b> {{ fac_proposal.url }} <br>
              <b>Department:</b> {{ fac_proposal.department }} <br>
              <b>Contact Informations:</b> <a href="mailto:"{{ fac_proposal.contactinfo }}>{{ fac_proposal.contactinfo }}</a><br>
              <b>Description:</b>  {{ fac_proposal.description }} <br>
              <b>Student Levels:</b>  
                 {% if fac_proposal.freshman %}
                   Freshman<br>
                 {% endif %}
                 {% if fac_proposal.sophomore %}
                   Sophomore<br>
                 {% endif %}
                 {% if fac_proposal.junior %}
                   Junior<br>
                 {% endif %}
                 {% if fac_proposal.senior %}
                   Senior<br>
                 {% endif %}
                 {% if fac_proposal.grad %}
                   Graduate<br>
                 {% endif %}
              <b>Proposal Selected:</b>  {{ fac_proposal.selectedproposal }} <br>
              <br>
<!--               <button type="button" id ="Approve" class="btn btn-primary" onClick="doApprove(this.id)">Approve</button>
              <button type="button" id ="Deny" class="btn btn-primary" onClick="doApprove(this.id)">Deny</button>

 -->

              {% if fac_proposal.approve %}
              <button type="button" id ="Approve_job{{fac_proposal.name}}" name="{{fac_proposal.name}}" value= "{{fac_proposal.id}}" class="btn btn-primary" disabled>Approved</button>
              {% else %}
              <button type="button" id ="Approve_job{{fac_proposal.name}}" name="{{fac_proposal.name}}" value= "{{fac_proposal.id}}" class="btn btn-primary" onClick="decide_proposal_approve(this.id, this.name, this.value)">Approve</button>
              {% endif %}

              {% if fac_proposal.deny %}
              <button type="button" id ="Deny_job{{fac_proposal.name}}" name="{{fac_proposal.name}}" value= "{{fac_proposal.id}}" class="btn btn-primary" disabled>Denied</button>
              {% else %}
              <button type="button" id ="Deny_job{{fac_proposal.name}}" name="{{fac_proposal.name}}" value= "{{fac_proposal.id}}" class="btn btn-primary" onClick="decide_proposal_approve(this.id, this.name, this.value)">Deny</button>
              {% endif %}



              <script type="text/javascript">
              function decide_proposal_approve(id, fac_proposal_name, organization_id){
                  var url = "{% url 'fac_proposal_approve_update' %}";
                  $.ajax({
                      url: url,
                      data: {
                         'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                         'status': id,
                         'organization_id': organization_id,
                      },
                      dataType: 'json',
                      complete: function (response) {
                        if(id=="Approve_job"+fac_proposal_name){

                          alert("Approved this proposal");
                          $("#Approve_job{{fac_proposal_name}}").context.activeElement.disabled = true;
                          $('#Deny_job{{fac_proposal_name}}').context.activeElement.disabled = false;
                          location.reload()
                          // $('#Deny_job{{job_name}}').context.activeElement.innerText = "Deny";
                          // $("this").context.activeElement.innerText = "Approved"
                        }else{

                          alert("Denied this proposal");
                          $('#Approve_job{{fac_proposal_name}}').context.activeElement.disabled = false;
                          $('#Deny_job{{fac_proposal_name}}').context.activeElement.disabled = true;
                          location.reload()
                          // $('#Deny_job{{job_name}}').context.activeElement.innerText = "Denied";
                          // $("#Approve_job{{job_name}}").context.activeElement.innerText = "Approve"
                        }
                      },
                      error: function () {
                        $('#status').html('Bummer: there was an error!');
                      },

                  });
                return false;

            }
            </script>
          </div>

        {% endif %}
      {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  </div>

{% endblock content %}


