{% extends "main/base.html" %}
{% load staticfiles %}

{% block content %}
                <div class="jumbotron">
                    <!--center><h1>Welcome to BoilerList</h1></center-->
                    <center><p><b>Welcome to the Purdue University Service-Learning Portal- BoilerList! <br>This portal serves to facilitate the development of sustainable partnerships in service-learning between faculty, staff, students, and community partners.<br> The portal does three things: </p></center>
                    <center><p>_____________________________________________________________________________________</p></center>
                    <!--center><p>Connecting community needs with skilled campus groups</p></center-->
                    <left><li>Allows agencies to share meaningful projects that will contribute to social and systemic change in the community</li></left>
                    <left><li>Connects agencies to faculty, staff, and students through service-learning courses</li></left>
                    <left><li>Provides faculty and staff with an opportunity to develop curricula that will match the need of agencies</li></left>
                    <br />
                    <br />
                    <img style="max-width: 340px;max-height: 340px" src="{% static '0237-student getting help.jpg' %}">
                    <img style ="max-width: 335px;max-height: 230px"src='{% static 'Picture1.png' %}'>
                    <img style="max-width: 340px;max-height: 340px" src="{% static '0243-student with college student.jpg' %}">

                </div>

{% endblock content %}