
{% extends "main/base.html" %}
{% load widget_tweaks %}
{% block content %}
{% if show_dialog %}
<div class="confirm alert alert-dismissible alert-info">
    <i type="button" class="close fa fa-close" data-dismiss="alert"></i>
    <h4>Create your job proposal here.</h4>
</div>
{% endif %}

<div class="panel-heading">
  <div class="">
    Create a job proposal
  </div>
</div>
<div class = "jumbotron">
  <form class="form-horizontal"  action="{% url 'job_creation' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

    <fieldset>
      <div class="form-group">
        Project title
        <div class="input-group">
        <span class="input-group-addon" id="addon1">
            <i class="fa fa-user"></i>
        </span>
        {% render_field form.name class+="form-control" placeholder="eg. Irrigation System" %}
        </div>
      </div>

      <div class="form-group">
        Community Orgnization & Project coordinator
        <div class="input-group">
        <span class="input-group-addon" id="addon1">
            <i class="fa fa-columns"></i>
        </span>
        {% render_field form.client_organization class+="form-control" placeholder="eg. Lafayette city farm" %}
        </div>
      </div>


      <div class="form-group">
        Contact Information
        <div class="input-group">
        <span class="input-group-addon" id="addon1">
            <i class="fa fa-phone"></i>
        </span>
        {% render_field form.contact_information class+="form-control" placeholder="email" %}
        </div>
      </div>

        <div class="form-group">
            Briefly describe the product or service that you expect as a result of this project: (256 characters)<br>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-coffee"></i>
                </span>
                {% render_field form.deliverable class+="form-control" placeholder="eg. A pump system to handle Spring flooding." %}
            </div>
        </div>

    <div class="form-group">
        Which categories would your project fit in the best:
            <form action='url' method='post'> {% csrf_token %}
                <br><input type="checkbox" name="activism" value="Yes"> Activism & advocacy
                <br><input type="checkbox" name="arts" value="Yes"> Arts & culture
                <br><input type="checkbox" name="civil" value="Yes"> Civil rights & human rights
                <br><input type="checkbox" name="school" value="Yes"> School readiness in Pre-K to 12 education
                <br><input type="checkbox" name="crisis" value="Yes"> Crisis & conflict resolution  
                <br><input type="checkbox" name="criminal" value="Yes"> Criminal justice & legal representation
                <br><input type="checkbox" name="disaster" value="Yes"> Disaster preparedness
                <br><input type="checkbox" name="economic" value="Yes"> Economic development
                <br><input type="checkbox" name="entrepreneurship" value="Yes"> Entrepreneurship
                <br><input type="checkbox" name="environment" value="Yes"> Environment & sustainability
                <br><input type="checkbox" name="food" value="Yes"> Food security
                <br><input type="checkbox" name="housing" value="Yes"> Housing & homelessness
                <br><input type="checkbox" name="immigrants" value="Yes"> Immigrants & migrant worker rights
                <br><input type="checkbox" name="individual" value="Yes"> Individual & community health
                <br><input type="checkbox" name="mental" value="Yes"> Mental health
                <br><input type="checkbox" name="poverty" value="Yes"> Poverty alleviation
                <br><input type="checkbox" name="substance" value="Yes"> Substance abuse & recovery
                <br><input type="checkbox" name="STEM" value="Yes"> STEM education
                <br><input type="checkbox" name="transportation" value="Yes"> Transportation
                <br><input type="checkbox" name="veterans" value="Yes"> Veterans
                <br><input type="checkbox" name="voting" value="Yes"> Voting
                <br>Other. Please specify:<div class="input-group"><span class="input-group-addon"><i class="fa fa-coffee"></i></span>{% render_field form.other class+="form-control" placeholder="Technology" %} </div>
            </form>
    </div>



         <div class="form-group">
            Specify the student skill sets required: <br>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-coffee"></i>
                </span>
                {% render_field form.skill_required class+="form-control" placeholder="eg. Java, Python, Leadership" %}
            </div>
        </div>

        <div class="form-group">
            Specify the date when this project is due. If you are not sure of the exact date, give a close approximation: <br>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
                {% render_field form.duedate class+="form-control" placeholder="yyyy-mm-dd" %}
            </div>
        </div>

         <div class="form-group">
            Specify the number of hours the student needs to work per day/week: <br>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-coffee"></i>
                </span>
                {% render_field form.hours_day class+="form-control" placeholder="eg. 10 hours a week" %}
            </div>
        </div>

        <div class="form-group">
            Give a short description of the duties of a student: (256 characters)<br>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-coffee"></i>
                </span>
            {% render_field form.description class+="form-control" placeholder="eg. needs to build a django website from scratch"%}
            </div>
        </div>




        <div class="panel-group">


            <div class="button_group">
                <input type="submit" class="btn btn-primary" value="Submit Job">
            </div>
        </div>
    </fieldset>
  </form>
</div>

{% endblock %}

