{% extends "main/base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="jumbotron">
  <center>
    <h3>{{ organization.name }} <small>Settings</small></h3>
  </center>
</div>

<div class="form-group">
  <a href="{% url 'user_dash' %}"><button class="btn btn-primary">Back</button></a>
</div>

<form action="{% url 'organization_settings' organization.id %}" method="post">

  {% csrf_token %}

  <div class="row">
    <div class="col-sm-6">

    Service team name
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon" id="addon1">
            <i class="fa fa-user"></i>
          </span>

          {% render_field modelform.name class+="form-control" %}
      </div>
    </div>


    Course Title
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon" id="addon1">
            <i class="fa fa-columns"></i>
          </span>

          {% render_field modelform.coursetitle class+="form-control" %}
      </div>
    </div>

    Faculty / Staff Name
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon" id="addon1">
            <i class="fa fa-users"></i>
          </span>

          {% render_field modelform.facultystaffname class+="form-control" %}
      </div>
    </div>

    Website (optional, leave blank if none)
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" id="addon1">
                <i class="fa fa-globe"></i>
            </span>
            {% render_field modelform.url class+="form-control" %}
        </div>
    </div>

    Department
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon" id="addon1">
            <i class="fa fa-university"></i>
          </span>

          {% render_field modelform.department class+="form-control" %}
      </div>
    </div>

    Contact Information
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" id="addon1">
                <i class="fa fa-phone"></i>
            </span>
            {% render_field modelform.contactinfo class+="form-control" %}
        </div>
    </div>

    Breifly describe how you can help the commnity partner
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon" id="addon1">
          <i class="fa fa-comments"></i>
        </span>
        {% render_field modelform.description class+="form-control" %}
      </div>
    </div>



    <div class="form-group">
       Which level of students would your class include:
            <br><input type="checkbox" name="freshman" value="Yes" {% if organization.freshman %}checked{% endif %}>Freshman
            <br><input type="checkbox" name="sophomore" value="Yes" {% if organization.sophomore %}checked{% endif %}>Sophomore students
            <br><input type="checkbox" name="junior" value="Yes" {% if organization.junior %}checked{% endif %}>Junior students
            <br><input type="checkbox" name="senior" value="Yes" {% if organization.senior %}checked{% endif %}>Senior students
            <br><input type="checkbox" name="grad" value="Yes" {% if organization.grad %}checked{% endif %}>Graduate students 
    </div>

        Proposal selected
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon" id="addon1">
                <i class="fa fa-at"></i>
              </span>

              {% render_field modelform.selectedproposal class+="form-control" %}
          </div>
        </div>

  
    </div>

  </div>

    <input class="btn btn-primary" type="submit" value="Save Faculty Proposal Changes">
</form>
<script>
  $('#id_categories').val({{ categories_id }});
</script>

{% endblock content %}
