{% extends "main/base.html" %}

{% block content %}
{% if show_dialog %}
<div class="confirm alert alert-dismissible alert-info">
    <i type="button" class="close fa fa-close" data-dismiss="alert"></i>
    <h4> This page shows the details of the faculty proposal you have created, and the status of the proposal. Click 'Organization Settings' to set email preferences and organization availability. </h4>
</div>
{% endif %}

<div class="jumbotron">
  <center>
    <h3>{{ organization.name }} <small>Dashboard</small></h3>
  </center>
</div>

<div class="form-group">
  <a href="{% url 'organization_settings' organization.id %}"><button class="btn btn-info">Organization Settings</button></a>
  <a href="{% url 'user_dash' %}"><button class="btn btn-info">Back</button></a>
  <!--<a href="{% url 'organization_detail' organization.id %}"><button class="btn btn-info">View Public Profile</button></a>-->
</div>

<div class="row">
  <div class="col-sm-5">
    <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Information about the Proposal</h3>
    </div>
    <div class="panel-body">
        <div class="well well-sm information-body">
            <b>Service team name</b>: {{organization.name}}
        </div>
        <div class="well well-sm information-body">
            <b>Course title</b>: {{organization.coursetitle}}
        </div>
        <div class="well well-sm information-body">
            <b>Faculty / Staff name</b>: {{organization.facultystaffname}}
        </div>
        <div class="well well-sm information-body">
            <b>Website</b>: {{organization.url}}
        </div>
        <div class="well well-sm information-body">
            <b>Department</b>: {{organization.department}}
        </div>
        <div class="well well-sm information-body">
            <b>Contact Information</b>: {{organization.contactinfo}}
        </div>
        <div class="well well-sm information-body">
            <b>Description</b>: {{organization.description}}
        </div>
        <div class="well well-sm information-body">
            <b>Student levels:</b>
            {% if organization.freshman %}
             <br>Freshman students
            {% endif %}
            {% if organization.sophomore %}
             <br>Sophomore students
            {% endif %}
            {% if organization.junior %}
             <br>Junior students
            {% endif %}
            {% if organization.senior %}
             <br>Senior students
            {% endif %}
            {% if organization.grad %}
             <br>Graduate students
            {% endif %}
        </div>
        <div class="well well-sm information-body">
            <b>Proposal selected</b>: {{organization.selectedproposal}}
        </div>
    </div>
    </div>
  </div>

  <div class="col-sm-7">
    <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Proposal activation status</h3>
    </div>
     <div class="panel-body">
           <span style="padding-left:50px;"></span>
           <b> Status</b>: {% if organization.active %}
                                <b>Active</b>
                           {% else %}
                                <b>Deactive</b>
                           {% endif %}
            <span style="padding-left:140px;"></span>
           <button type="button" id ="Active" class="btn btn-primary" onClick="doTask(this.id)">Activate</button>
           <button type="button" id ="Deactive" class="btn btn-primary" onClick="doTask(this.id)">Deactivate</button>
           <button type="button" id ="Dissolve" class="btn btn-primary" onclick="confirm()">Dissolve</button>
           <script>
               function confirm(){
                    var answer = prompt("Key in \"yes\" to confirm dissolve the proposal.")
                    if(answer === "yes"){
                        doDelete()
                    }
               }
           </script>
           <script>
           function doDelete(){
               var url = "{% url 'organization_delete' %}";
               var user_url = "{% url 'user_dash' %}";
               $.ajax({
               url: url,
               //url: '/BoilerList/organization/organization_delete/', 
               data: {'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                      'Organizationid': {{organization.id}}
               },
               dataType: 'json',
               complete: function (response) {
                 window.location.href = user_url
               },
          error: function () {
        //    $('#status').html('Bummer: there was an error!');
          },

          });
          return false;
        }
          </script>

          <script type="text/javascript">
             function doTask(id){
                 var url = "{% url 'organization_status_update' %}";
                 $.ajax({
                     url: url,
                     //url: '/BoilerList/organization/status_update/',
                     data: {
                         'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                         'status': id,
                         'Organizationid': {{organization.id}}
        },
        dataType: 'json',
        complete: function (response) {
            $('#status').html(response.responseText);
            location.reload();
        },
        error: function () {
            $('#status').html('Bummer: there was an error!');
        },

});
return false;

}
      </script>
       
     </div>
    </div>
    </div>
</div>
<script type='text/javascript' src="{{ STATIC_URL }}js/JobRequestOverlay.js"></script>
{% endblock content %}
