{% extends "main/base.html" %}
{% load widget_tweaks %}
{% block content %}
{% if show_dialog %}
<div class="confirm alert alert-dismissible alert-info">
    <i type="button" class="close fa fa-close" data-dismiss="alert"></i>
    <h4>Create your faculty proposal here.</h4>
</div>
{% endif %}

<div class="panel-heading">
  <div class="">
    Create a faculty proposal
  </div>
</div>
<div class = "jumbotron">
  <form class="form-horizontal"  action="{% url 'organization_create' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

    <fieldset>
      <div class="form-group">
        Service team name
        <div class="input-group">
        <span class="input-group-addon" id="addon1">
            <i class="fa fa-user"></i>
        </span>
        {% render_field form.name class+="form-control" placeholder="Enter Your Service Team Name" %}
        </div>
      </div>

      <div class="form-group">
        Course Title
        <div class="input-group">
        <span class="input-group-addon" id="addon1">
            <i class="fa fa-columns"></i>
        </span>
        {% render_field form.coursetitle class+="form-control" placeholder="eg. EPICS 101" %}
        </div>
      </div>

      <div class="form-group">
        Faculty / Staff Name
        <div class="input-group">
        <span class="input-group-addon" id="addon1">
            <i class="fa fa-users"></i>
        </span>
        {% render_field form.facultystaffname class+="form-control" placeholder="Enter faculty / staff name" %}
        </div>
      </div>

      <div class="form-group">
          Website (optional, leave blank if none)
          <div class="input-group">
              <span class="input-group-addon" id="addon1">
                  <i class="fa fa-globe"></i>
              </span>
              {% render_field form.url class+="form-control" placeholder="http://" %}
          </div>
      </div>

      <div class="form-group">
        Department
        <div class="input-group">
        <span class="input-group-addon" id="addon1">
            <i class="fa fa-university"></i>
        </span>
        {% render_field form.department class+="form-control" placeholder="Please provide full department name: eg. Environmental and Ecological Engineering" %}
        </div>
      </div>

      <div class="form-group">
        Contact Information
        <div class="input-group">
        <span class="input-group-addon" id="addon1">
            <i class="fa fa-phone"></i>
        </span>
        {% render_field form.contactinfo class+="form-control" placeholder="eg. emails, phone number" %}
        </div>
      </div>

      <div class="form-group">
        Breifly describe how you can help the commnity partner
        <div class="input-group">
        <span class="input-group-addon" id="addon1">
            <i class="fa fa-comments"></i>
        </span>
        {% render_field form.description class+="form-control" placeholder="Enter description, please include learning outcomes and general course description" %}
        </div>
      </div>

    <div class="form-group">
       Which level of students would your class include:
        <form action='url' method='post'> {% csrf_token %}
            <br><input type="checkbox" name="form.freshman" value="Yes">Freshman students
            <br><input type="checkbox" name="form.sophomore" value="Yes">Sophomore students
            <br><input type="checkbox" name="form.junior" value="Yes">Junior students
            <br><input type="checkbox" name="form.senior" value="Yes">Senior students
            <br><input type="checkbox" name="form.grad" value="Yes">Graduate students 
        </form>
    </div>

      <div class="form-group">
        Proposal selected
        <div class="input-group">
        <span class="input-group-addon" id="addon1">
            <i class="fa fa-at"></i>
        </span>
        {% render_field form.selectedproposal class+="form-control" placeholder="Please identify which community proposal this is responding to" %}
        </div>
      </div>

      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Create Faculty Proposal">
      </div>
    </fieldset>
  </form>
</div>

{% endblock %}
